<%= link_to 'Back', meetings_path %>

<div class="meetings delete">
  <h2>Meeting to be deleted</h2>

  <%= form_for(@meeting, :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this meeting?</p>
    <p><%= @meeting.title %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Meeting") %>
    </div>

  <% end %>
</div>