<h1>New Meeting</h1>

<%= render 'form', meeting: @meeting %>

<div class="container", style="margin-left: 10em;">
  <%= link_to '<button type="button"> Back </button>'.html_safe, meetings_path %>
</div>
