<%= link_to 'Back', news_posts_path %>

<div class="news posts delete">
  <h2>Post to be deleted</h2>

  <%= form_for(@news_post, :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this meeting?</p>
    <p><%= @news_post.title %></p>

    <div class="form-buttons">
      <%= f.submit("Delete News Post") %>
    </div>

  <% end %>
</div>
