<%= link_to 'Back', events_path %>

<div class="events delete">
  <h2>Event to be deleted</h2>

  <%= form_for(@event, :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this event?</p>
    <p><%= @event.title %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Event") %>
    </div>

  <% end %>
</div>