<h1>Editing Event</h1>

<%= render 'form', event: @event %>

<div class="container", style="margin-left: 12em;">
  <%= link_to '<button type="button"> View </button>'.html_safe, @event %>
  <%= link_to '<button type="button"> Back </button>'.html_safe, events_path %>
</div>
