<%= link_to 'Back', products_path %>

<div class="products delete">
  <h2>Product to be deleted</h2>

  <%= form_for(@product, :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this product?</p>
    <p><%= @product.name %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Product") %>
    </div>

  <% end %>
</div>