<h1>New Product</h1>

<%= render 'form', product: @product %>

<div class="container", style="margin-left: 10em;">
  <%= link_to '<button type="button"> Back </button>'.html_safe, products_path %>
</div>
