<h1>Editing Member</h1>

<%= render 'form', member: @member %>

<div class="container", style="margin-left: 12em;">
  <%= link_to '<button type="button"> View </button>'.html_safe, @member %>
  <%= link_to '<button type="button"> Back </button>'.html_safe, member_path %>
</div>
